@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .h1 {
    @apply text-4xl font-bold;
  }

  .h2 {
    @apply text-2xl font-bold;
  }

  .custom-main {
    @apply flex h-screen flex-col items-center justify-center;
  }

  .custom-button {
    @apply cursor-pointer rounded bg-blue-500 px-4 py-2 text-lg text-white;
  }

  .custom-contents-area {
    @apply mx-auto max-w-7xl px-6 py-10;
  }

  .custom-contents-text {
    @apply break-all text-[16px] font-normal;
  }
}
