@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .custom-main {
    @apply flex flex-col items-center justify-center h-screen;
  }

  .custom-button {
    @apply py-2 px-4 bg-blue-500 text-white rounded cursor-pointer text-lg;
  }
}
